.navbar{
    background-color: #1E3A8A;
    color: #FFFFFF;
    height: 60px;
    border-bottom: #263142 solid 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
      position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
}
